.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}
.navbar-logo img{
    display: block;
    width: 100%;
    height: auto;
  }
.navbar-icon{
    text-align:center; 	
    background:transparent;
    border: 0px solid rgba(transparent);
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    top:50px;
    left:10%;
    width:250px;
}
.pago{
    background-color:rgb(213, 213, 213);
}